<div class="contacts-container flex flex-row">
    <h1>Here are my Socials</h1>
    <div class="icons-container">


        
<!-- <h1>Linkedln</h1>
<p>https://www.linkedin.com/in/nyambura-njuguna/</p>
<h1>GitHub</h1>
<p>https://github.com/ecy16 </p> -->
        
    </div>
</div>
<button class="font-sans ml-8 mb-2" (click)="onButtonClick()">Back Home</button>

<form>
    <div class="grid gap-6 mb-6 md:grid-rows-2 border border-gray-900 justify-center">
        <div>
            <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First name</label>
            <input type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2.5  dark:border-gray-600 dark" placeholder="Name" required>
        </div>
        <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
            <input type="text" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2.5  dark:border-gray-600 dark" placeholder="John" required>
        </div>
        <div>
            <label for="message" class="block mb text-sm font-medium text-gray-900 dark:text-white">First name</label>
            <input type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-10 dark:border-gray-600 dark" placeholder="John" required>
        </div>
        
    </div>
    </form>