<div class="projects-container p-4 text-zinc-600">
  <h1 class="m-2 underline underline-offset-4 text-2xl flex justify-center">
    My Projects
  </h1>

  <h3 class="text-xl flex justify-start mt-6">Ticketing Site</h3>
  <div
    class="tickets-container rounded-md p-4 border-2 border-gray-200 flex flex-row"
  >
    <div class="image-container basis-1/2">
      <img alt="me" src="./assets/ticketsite.jpeg" />
    </div>
    <div class="right tickets-container basis-1/2">
      <p>
        In the development of a ticketing site, I harnessed the power of
        Angular, Tailwind CSS, and Angular Material to deliver a sophisticated
        and intuitive frontend user interface. The ticketing site boasts a
        modern and user-friendly design, thanks to the combination of Angular,
        Tailwind CSS, and Angular Material.Through thoughtful integration of
        these frontend technologies, the ticketing site achieves a balance
        between aesthetics and functionality, providing users with a visually
        appealing and efficient platform to explore, select, and purchase
        tickets for various events.
      </p>
    </div>
  </div>

  <h3 class="text-xl flex justify-start mb-1 mt-2">
    Employee Management Interface
  </h3>
  <div
    class="employees-container rounded-md border-2 border-gray-200 flex flex-row p-4"
  >
    <div class="image-container flex justify-center">
      <img alt="me" src="./assets/EMP.png" />
      <div class="right employees-container">
        <p class="flex justify-center">
          In the development of an Employee Management Interface, I employed an
          Angular, Tailwind CSS, and Angular Material for the frontend, along
          with the Node.js framework NestJS for the backend. This comprehensive
          CRUD application enables users to efficiently manage employee records
          through a user-friendly interface. The application allows users to
          create new employee records, read existing details, update information
          as needed, and delete outdated records.
        </p>
      </div>
    </div>
  </div>

  <h3 class="text-xl flex justify-start mb-1">Quotes App</h3>
  <div
    class="quotes-container rounded-md p-4 border-2 border-gray-200 flex flex-row"
  >
    <p class="text-center">
      In the development of a comprehensive quotes web application,On the
      frontend i used; Angular, Tailwind CSS, and Angular Material collectively
      contribute to crafting a visually stunning and responsive user
      interface.For the backend, I employ NestJS, a Node.js framework known for
      its modularity and scalability.This integrated backend solution empowers
      the web app to handle user accounts, allowing for the creation, reading,
      updating, and deletion of quotes.
    </p>
  </div>
  
  <button
    class="font-sans text-zinc-600 float-right mr-8"
    (click)="onButtonClick()"
  >
    Contact Me
  </button>
</div>
