.home-container{
    background-image: url("/assets/desin.jpg");
    // background-size:100% 100%;}
    background-size: cover;
}
.project-1{
        width: 300px;
        transition: transform 0.3s ease;
        pointer-events: visible;

}
.project-1:hover{
    transform: translateY(-8px);
    // transform: rotate(25deg);
    box-shadow: 0 8px 16px rgba(179, 141, 141, 0.2);
}
.web-dev{
    transition: transform 0.3s ease;
    pointer-events: visible;
    }
    .web-dev:hover{
        transform: translateX(-8px);
        box-shadow: 0 8px 16px rgba(179, 141, 141, 0.2);
    }
    .API-dev{
        transition: transform 0.3s ease;
        pointer-events: visible;
    }
    .API-dev:hover{
        transform: translateX(-8px);
        box-shadow: 0 8px 16px rgba(179, 141, 141, 0.2);

    }