<div class="home-container p-8">
    <!-- <img alt="MyProfile" src="./assets/MyProfile.jpeg"> -->
    <h3 class="font-sans">Hi, My Name Is</h3>
<h1 class="text-2xl font-sans">NYAMBURA NJUGUNA</h1>
<p class="text-xl font-sans ">I am a skilled and dedicated software developer with experience in building robust and scalable web applications.
     My expertise lies in front-end development using Angular and TypeScript, combined with a solid foundation in server-side development with Node.js.</p>
</div>
<button class="font-sans ml-8 mb-2" (click)="onButtonClick()">More About Me</button>
